
node_modules

consumer_api_client
consumer_api_contracts
consumer_api_core
consumer_api_http

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode
.idea/
*.iml
*.iws
.classpath
.project
.settings/
