
dist
node_modules
package-lock.json
processengine.sqlite

logs
metrics

consumer_api.*
consumer_api_*
external_task.*
external_task_*

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/
